<!DOCTYPE html>

<html>
  <head>
    <title>Form Details</title>
  </head>

  <body>
    <h1>Register here</h1>

    <h5>{{msg}}</h5>
    <!-- Error Message displayed here -->

    <!-- Form for details -->
    <form action="{{url_for('index')}}" method="POST">
      USN (Eg. 1MS02IS001): <input name="usn" type="text" /><br />
      D.O.B (Eg. dd/mm/yyyy) : <input name="dob" type="text" /><br />
      Marks1: <input name="marks1" type="number" /><br />
      Marks2: <input name="marks2" type="number" /><br />
      Marks3: <input name="marks3" type="number" /><br />
      <input name="***Register***" type="submit" />
    </form>
  </body>
</html>
